<div class="row category">
    <div class="col-xl">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5>{{{title}}}</h5>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Add {{{title}}}
                    </button>
                </div>
                <table class="table table-striped category-table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">#</th>
                            <th scope="col">Job title</th>
                            <th scope="col">count</th>
                            <th scope="col">price</th>
                            <th scope="col">location</th>
                            <th scope="col">type</th>
                            <th class="text-center" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each Vacancies}}
                        <tr >
                            <th class="text-center" scope="row">{{@index}}</th>
                            <td>
                                <span>{{title}}</span>
                            </td>
                            <td>{{count}}</td>   
                            <td>{{price}}</td>   
                            <td>{{location}}</td>                            
                            <td>{{type}}</td>                           
                            <td>
                                <a class="btn btn-warning" href="/vacancy/get/{{_id}}" data-toggle="modal" data-target="#editModal" onclick="edit('{{_id}}')" ><i class="fas fa-edit"></i></a>
                                <a class="btn btn-danger" href="/vacancy/delete/{{_id}}" onclick="return confirm('Qaroringiz aniqmi??')"><i class="fas fa-times"></i></a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade vacancy-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yangi Bo'lim</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <form action="/vacancy"  method="post">
                    <div class="form-group">
                        <input type="text" name="title" class="form-control" 
                            placeholder="Enter Job title" />
                    </div>
                     <div class="form-group">
                        <input type="number" name="count" class="form-control" 
                            placeholder="Enter Worker count" />
                    </div> 
                     <div class="form-group">
                        <input type="text" name="price" class="form-control" 
                            placeholder="Enter Job price" />
                    </div> 
                    <div class="form-group">
                        <input type="text" name="location" class="form-control" 
                            placeholder="Enter Job Location" />
                    </div>
                    <div class="form-group">
                        <textarea type="text" id="description" name="description" class="form-control" 
                            placeholder="Enter Job description"></textarea>
                    </div>
                    <div class="modal-footer pr-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Formani O'zgartirish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
            </div>
            <div class="modal-body">
                <form action="/vacancy" name="editForm"  method="post">
                    <div class="form-group">
                        <input type="hidden"  name="_id" value="" />
                        <input type="text" name="title" class="form-control"
                            placeholder="Enter Job title" />
                    </div>   
                    <div class="form-group">
                        <input type="number" name="count" class="form-control"
                            placeholder="Enter Worker Count" />
                    </div>
                     <div class="form-group">
                        <input type="text" name="price" class="form-control"
                            placeholder="Enter Job Price" />
                    </div>           
                    <div class="form-group">
                        <input type="text" name="location" class="form-control"
                            placeholder="Enter Job Location" />
                    </div>               
                   <div class="form-group">
                        <input type="text" name="type" class="form-control"
                            placeholder="Enter Job Degree" />
                    </div>    
                    <div class="form-group">
                        <textarea type="text" id="description2" name="description" class="form-control"
                            placeholder="Enter Job Description"></textarea>
                    </div>   
            
                    <div class="modal-footer pr-0">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Bekor qilish</button>
                        <button type="submit" class="btn btn-primary">Saqlash</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
<script>
   CKEDITOR.replace('description')
   
    let editform=document.forms.editForm
    function edit(id){
        console.log(id)
        fetch(`http://localhost:5000/vacancy/get/${id}`)
        .then(res=>res.json())
        .then(data=>{
            console.log(data)
            editform._id.value=data._id
            editform.title.value=data.title
            editform.count.value=data.count
            editform.location.value=data.location
            editform.type.value=data.type
            editform.price.value=data.price
            editform.description.value=data.description 
            CKEDITOR.replace('description2')
        })
    }   
      
</script>